# Will we get a White Christmas in Transylvania in 2020?

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline
pd.pandas.set_option('display.max_columns', None)

In [2]:
df = pd.read_excel("Transylvania_Christmas_Wheather.xlsx")
df.head()

             NAME       DATE  PRCP  TAVG  TMAX  TMIN
0  CLUJ NAPOCA RO 1950-12-01   4.3   NaN   7.9   1.6
1  CLUJ NAPOCA RO 1950-12-02   0.0   NaN   2.7  -1.2
2  CLUJ NAPOCA RO 1950-12-03   0.0   NaN   0.4  -3.0
3  CLUJ NAPOCA RO 1950-12-04   0.0   NaN   1.3  -3.2
4  CLUJ NAPOCA RO 1950-12-05   3.3   NaN   7.0  -0.3

In [3]:
df.dtypes

NAME            object
DATE    datetime64[ns]
PRCP           float64
TAVG           float64
TMAX           float64
TMIN           float64
dtype: object

In [4]:
df.shape

(68815, 6)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68815 entries, 0 to 68814
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NAME    68815 non-null  object
 1   DATE    68815 non-null  datetime64[ns]
 2   PRCP    68397 non-null  float64
 3   TAVG    39406 non-null  float64
 4   TMAX    68705 non-null  float64
 5   TMIN    68655 non-null  float64
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 3.2+ MB

In [6]:
df.describe()

               PRCP          TAVG          TMAX          TMIN
count  68397.000000  39406.000000  68705.000000  68655.000000
mean       1.636538      9.026176     15.153561      4.261601
std        4.388025      9.005401     10.215610      8.076367
min        0.000000    -27.100000    -20.400000    -34.200000
25%        0.000000      1.900000      6.500000     -1.300000
50%        0.000000      9.900000     16.400000      5.000000
75%        1.000000     16.600000     23.600000     10.900000
max       81.600000     30.000000     40.000000     25.500000

In [7]:
df = df[(df['DATE'].dt.month == 12)]

In [8]:
df.head(-40)

                 NAME       DATE  PRCP  TAVG  TMAX  TMIN
0      CLUJ NAPOCA RO 1950-12-01   4.3   NaN   7.9   1.6
1      CLUJ NAPOCA RO 1950-12-02   0.0   NaN   2.7  -1.2
2      CLUJ NAPOCA RO 1950-12-03   0.0   NaN   0.4  -3.0
3      CLUJ NAPOCA RO 1950-12-04   0.0   NaN   1.3  -3.2
4      CLUJ NAPOCA RO 1950-12-05   3.3   NaN   7.0  -0.3
...               ...        ...   ...   ...   ...   ...
68436        SIBIU RO 2018-12-18  11.7  -1.6   0.8  -2.1
68437        SIBIU RO 2018-12-19   0.1  -2.1  -0.4  -2.9
68438        SIBIU RO 2018-12-20   0.0  -2.3  -0.7  -2.8
68439        SIBIU RO 2018-12-21   0.0  -3.8   1.1  -5.8
68440        SIBIU RO 2018-12-22   0.0   2.7   8.9  -7.5

[5829 rows x 6 columns]

In [9]:
df.head(-1)

                 NAME       DATE  PRCP  TAVG  TMAX  TMIN
0      CLUJ NAPOCA RO 1950-12-01   4.3   NaN   7.9   1.6
1      CLUJ NAPOCA RO 1950-12-02   0.0   NaN   2.7  -1.2
2      CLUJ NAPOCA RO 1950-12-03   0.0   NaN   0.4  -3.0
3      CLUJ NAPOCA RO 1950-12-04   0.0   NaN   1.3  -3.2
4      CLUJ NAPOCA RO 1950-12-05   3.3   NaN   7.0  -0.3
...               ...        ...   ...   ...   ...   ...
68809        SIBIU RO 2019-12-26   2.3   1.9   3.6   0.4
68810        SIBIU RO 2019-12-27   0.0   1.8   5.3  -0.8
68811        SIBIU RO 2019-12-28   2.8  -0.3   1.3  -1.3
68812        SIBIU RO 2019-12-29   4.7  -2.6  -0.3  -3.2
68813        SIBIU RO 2019-12-30   0.0  -5.7   0.6  -8.8

[5868 rows x 6 columns]

In [10]:
df.shape

(5869, 6)

In [11]:
df.reset_index(drop=True, inplace=True)

In [12]:
df.head(-1)

                NAME       DATE  PRCP  TAVG  TMAX  TMIN
0     CLUJ NAPOCA RO 1950-12-01   4.3   NaN   7.9   1.6
1     CLUJ NAPOCA RO 1950-12-02   0.0   NaN   2.7  -1.2
2     CLUJ NAPOCA RO 1950-12-03   0.0   NaN   0.4  -3.0
3     CLUJ NAPOCA RO 1950-12-04   0.0   NaN   1.3  -3.2
4     CLUJ NAPOCA RO 1950-12-05   3.3   NaN   7.0  -0.3
...              ...        ...   ...   ...   ...   ...
5863        SIBIU RO 2019-12-26   2.3   1.9   3.6   0.4
5864        SIBIU RO 2019-12-27   0.0   1.8   5.3  -0.8
5865        SIBIU RO 2019-12-28   2.8  -0.3   1.3  -1.3
5866        SIBIU RO 2019-12-29   4.7  -2.6  -0.3  -3.2
5867        SIBIU RO 2019-12-30   0.0  -5.7   0.6  -8.8

[5868 rows x 6 columns]

In [13]:
df = df[(df['DATE'].dt.day == 23) | (df['DATE'].dt.day == 24) | (df['DATE'].dt.day == 25)]

In [14]:
df.head(-40)

                NAME       DATE  PRCP  TAVG  TMAX  TMIN
22    CLUJ NAPOCA RO 1950-12-23   0.0   NaN   4.0  -2.4
23    CLUJ NAPOCA RO 1950-12-24   0.0   NaN   7.0   0.8
24    CLUJ NAPOCA RO 1950-12-25   0.0   NaN   9.3  -0.1
53    CLUJ NAPOCA RO 1951-12-23   0.0   NaN  -7.8 -12.1
54    CLUJ NAPOCA RO 1951-12-24   0.0   NaN  -6.5 -10.0
...              ...        ...   ...   ...   ...   ...
5426        SIBIU RO 2005-12-23   4.8  -3.8  -2.6  -5.5
5427        SIBIU RO 2005-12-24   1.1  -2.8  -0.4  -4.8
5428        SIBIU RO 2005-12-25   0.2   1.0   4.5  -2.3
5457        SIBIU RO 2006-12-23   0.0   1.8   4.8  -0.6
5458        SIBIU RO 2006-12-24   0.0   0.8   2.2   0.4

[526 rows x 6 columns]

In [15]:
df.head(-1)

                NAME       DATE  PRCP  TAVG  TMAX  TMIN
22    CLUJ NAPOCA RO 1950-12-23   0.0   NaN   4.0  -2.4
23    CLUJ NAPOCA RO 1950-12-24   0.0   NaN   7.0   0.8
24    CLUJ NAPOCA RO 1950-12-25   0.0   NaN   9.3  -0.1
53    CLUJ NAPOCA RO 1951-12-23   0.0   NaN  -7.8 -12.1
54    CLUJ NAPOCA RO 1951-12-24   0.0   NaN  -6.5 -10.0
...              ...        ...   ...   ...   ...   ...
5829        SIBIU RO 2018-12-23   0.1   5.9   8.5   3.2
5830        SIBIU RO 2018-12-24   9.8   2.8   7.1   0.9
5831        SIBIU RO 2018-12-25   0.3  -1.0   3.1  -2.3
5860        SIBIU RO 2019-12-23   3.8   7.4  13.2   5.2
5861        SIBIU RO 2019-12-24   7.0   3.7   5.4   2.8

[565 rows x 6 columns]

In [16]:
df.reset_index(drop=True, inplace=True)

In [17]:
df.shape

(566, 6)

In [18]:
df.head(-1)

               NAME       DATE  PRCP  TAVG  TMAX  TMIN
0    CLUJ NAPOCA RO 1950-12-23   0.0   NaN   4.0  -2.4
1    CLUJ NAPOCA RO 1950-12-24   0.0   NaN   7.0   0.8
2    CLUJ NAPOCA RO 1950-12-25   0.0   NaN   9.3  -0.1
3    CLUJ NAPOCA RO 1951-12-23   0.0   NaN  -7.8 -12.1
4    CLUJ NAPOCA RO 1951-12-24   0.0   NaN  -6.5 -10.0
..              ...        ...   ...   ...   ...   ...
560        SIBIU RO 2018-12-23   0.1   5.9   8.5   3.2
561        SIBIU RO 2018-12-24   9.8   2.8   7.1   0.9
562        SIBIU RO 2018-12-25   0.3  -1.0   3.1  -2.3
563        SIBIU RO 2019-12-23   3.8   7.4  13.2   5.2
564        SIBIU RO 2019-12-24   7.0   3.7   5.4   2.8

[565 rows x 6 columns]

In [19]:
df.isnull().sum()

NAME      0
DATE      0
PRCP      0
TAVG    241
TMAX      0
TMIN      1
dtype: int64

In [20]:
df[df['TMIN'].isnull()].index.tolist()

[388]

In [21]:
print(df.loc[[388]])

         NAME       DATE  PRCP  TAVG  TMAX  TMIN
388  SIBIU RO 1953-12-24   1.5  -4.0  -2.2   NaN

In [22]:
df['TAVG'] = df.apply(
    lambda row: (row['TMAX']+row['TMIN'])/2 if np.isnan(row['TAVG']) else row['TAVG'],
    axis=1
)

In [23]:
df.head(-1)

               NAME       DATE  PRCP  TAVG  TMAX  TMIN
0    CLUJ NAPOCA RO 1950-12-23   0.0  0.80   4.0  -2.4
1    CLUJ NAPOCA RO 1950-12-24   0.0  3.90   7.0   0.8
2    CLUJ NAPOCA RO 1950-12-25   0.0  4.60   9.3  -0.1
3    CLUJ NAPOCA RO 1951-12-23   0.0 -9.95  -7.8 -12.1
4    CLUJ NAPOCA RO 1951-12-24   0.0 -8.25  -6.5 -10.0
..              ...        ...   ...   ...   ...   ...
560        SIBIU RO 2018-12-23   0.1  5.90   8.5   3.2
561        SIBIU RO 2018-12-24   9.8  2.80   7.1   0.9
562        SIBIU RO 2018-12-25   0.3 -1.00   3.1  -2.3
563        SIBIU RO 2019-12-23   3.8  7.40  13.2   5.2
564        SIBIU RO 2019-12-24   7.0  3.70   5.4   2.8

[565 rows x 6 columns]

In [24]:
df.isnull().sum()

NAME    0
DATE    0
PRCP    0
TAVG    0
TMAX    0
TMIN    1
dtype: int64

In [25]:
 df = df.drop(columns =['TMAX', 'TMIN'])

In [26]:
print(df.loc[[386, 387, 388, 389]])

         NAME       DATE  PRCP  TAVG
386   DEVA RO 2019-12-25   2.3  4.45
387  SIBIU RO 1952-12-23   3.0  2.30
388  SIBIU RO 1953-12-24   1.5 -4.00
389  SIBIU RO 1961-12-23   3.1 -9.65

In [27]:
df.drop(df.index[[387, 388]], inplace=True)

In [28]:
df.shape

(564, 4)

In [29]:
df.reset_index(drop=True, inplace=True)

In [30]:
df.shape

(564, 4)

In [31]:
PRCP = list(df['PRCP'])
PRCP

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.5,
 0.2,
 0.0,
 0.0,
 1.5,
 0.6,
 0.5,
 0.2,
 0.7,
 0.0,
 0.0,
 0.0,
 0.2,
 1.3,
 11.4,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 5.6,
 1.2,
 0.0,
 0.0,
 0.5,
 1.2,
 0.0,
 0.8,
 0.6,
 3.0,
 0.0,
 1.4,
 1.6,
 5.3,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 4.8,
 0.0,
 0.0,
 2.9,
 0.3,
 1.2,
 6.3,
 4.2,
 2.3,
 2.6,
 0.0,
 0.0,
 0.2,
 0.0,
 0.0,
 2.3,
 0.3,
 0.0,
 0.1,
 1.7,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.5,
 0.1,
 0.0,
 11.9,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 9.3,
 0.0,
 0.0,
 0.0,
 11.7,
 2.7,
 0.0,
 0.0,
 3.0,
 0.3,
 5.4,
 0.0,
 14.5,
 0.9,
 4.4,
 0.0,
 0.0,
 0.1,
 0.0,
 0.8,
 0.0,
 2.9,
 0.0,
 0.1,
 1.0,
 0.0,
 3.2,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 2.7,
 0.5,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.4,
 0.0,
 0.0,
 0.0,
 3.8,
 1.8,
 8.7,
 4.9,
 0.2,
 0.2,
 0.1,
 0.2,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 2.4,
 0.0,
 0.0,
 3.6,
 0.0,
 0.0,
 5.9,
 0.0,
 0.0,
 0.0,
 1.4,
 0.0,
 1.8,
 1.3,
 2.2,
 0.0,
 0.0,
 0.1,
 0.0,
 0.0,
 0.0,
 12.4,
 0.0,
 0.0,
 0.0,
 0.0,
 0.9,
 0.0,
 0.3,
 11.5,
 0.0,
 0.0,
 3.3,
 0.0,
 0.8,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.1,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.8,
 0.4,
 1.1,
 0.0,
 2.7,
 14.8,
 0.5,
 5.0,
 6.3,
 0.1,
 4.4,
 0.0,
 2.5,
 0.0,
 0.8,
 0.4,
 6.7,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 2.2,
 0.0,
 0.2,
 1.2,
 0.3,
 0.5,
 2.2,
 3.1,
 9.3,
 1.7,
 0.0,
 0.1,
 0.2,
 0.1,
 0.0,
 0.9,
 0.0,
 0.0,
 0.2,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.1,
 0.0,
 0.0,
 0.0,
 0.0,
 0.3,
 0.0,
 0.0,
 6.6,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 12.2,
 0.3,
 0.0,
 0.0,
 6.4,
 9.2,
 0.0,
 0.2,
 3.4,
 0.3,
 3.3,
 0.0,
 1.1,
 0.0,
 0.3,
 0.0,
 0.0,
 0.0,
 0.0,
 4.3,
 0.0,
 6.2,
 2.9,
 0.0,
 0.0,
 0.0,
 4.7,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.5,
 0.1,
 0.0,
 1.5,
 0.5,
 16.1,
 0.5,
 10.0,
 14.2,
 0.9,
 0.1,
 0.0,
 0.0,
 0.0,
 0.4,
 0.4,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 5.0,
 0.1,
 0.0,
 3.9,
 0.2,
 0.0,
 9.8,
 1.1,
 0.0,
 0.0,
 0.2,
 0.0,
 0.9,
 0.4,
 0.9,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 9.1,
 0.0,
 1.2,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.5,
 0.0,
 0.0,
 0.1,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.8,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.5,
 0.0,
 1.3,
 0.0,
 1.0,
 13.0,
 0.0,
 1.8,
 5.0,
 2.3,
 3.1,
 0.9,
 2.1,
 0.0,
 4.2,
 1.3,
 4.1,
 0.6,
 0.0,
 0.8,
 0.0,
 0.0,
 9.8,
 0.5,
 1.5,
 3.9,
 4.4,
 0.4,
 4.9,
 0.4,
 1.0,
 4.4,
 0.0,
 2.0,
 0.3,
 0.0,
 0.0,
 1.5,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.1,
 0.0,
 0.0,
 1.8,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 31.5,
 0.0,
 0.0,
 0.2,
 1.0,
 4.7,
 0.0,
 0.3,
 2.5,
 0.3,
 1.3,
 0.0,
 6.1,
 0.5,
 0.1,
 0.0,
 0.0,
 0.0,
 0.0,
 0.4,
 0.4,
 4.2,
 0.6,
 0.0,
 0.0,
 0.0,
 1.6,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.4,
 1.6,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.5,
 0.0,
 0.7,
 0.0,
 1.8,
 1.3,
 6.4,
 10.2,
 1.5,
 0.7,
 1.6,
 0.0,
 0.2,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.8,
 0.3,
 0.0,
 4.7,
 0.0,
 0.0,
 8.2,
 4.9,
 0.0,
 0.0,
 1.4,
 0.0,
 4.8,
 1.1,
 0.2,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 6.0,
 0.1,
 0.0,
 0.2,
 0.2,
 0.0,
 0.0,
 0.0,
 1.1,
 0.0,
 0.0,
 0.4,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.1,
 0.0,
 0.0,
 1.2,
 0.0,
 0.0,
 0.1,
 9.8,
 0.3,
 3.8,
 7.0,
 0.0]

In [32]:
TAVG = list(df['TAVG'])
TAVG

[0.8,
 3.9,
 4.6000000000000005,
 -9.95,
 -8.25,
 -9.25,
 2.85,
 1.2000000000000002,
 -0.8,
 -3.8,
 -7.4,
 -13.8,
 -0.3,
 1.55,
 -2.15,
 -1.4,
 -3.1,
 -1.0,
 -1.9,
 -0.3,
 0.3,
 -8.6,
 -9.0,
 -6.7,
 2.1,
 5.4,
 4.7,
 -1.7,
 1.7,
 5.8,
 3.9,
 0.6,
 -1.9,
 -9.1,
 -12.8,
 -8.7,
 -8.3,
 -7.3,
 -8.6,
 -4.2,
 -10.3,
 -9.1,
 -0.9,
 -0.9,
 -2.1,
 1.4,
 1.3,
 0.8,
 -4.3,
 -3.8,
 -2.8,
 -4.2,
 0.8,
 2.3,
 -0.25,
 -1.0,
 0.050000000000000044,
 -3.35,
 -1.8,
 -4.8,
 -1.3,
 1.0999999999999999,
 -1.05,
 4.8,
 2.8000000000000003,
 0.25,
 -4.25,
 -5.35,
 -7.2,
 1.6,
 -2.9,
 -5.4,
 1.2,
 1.0,
 -1.0,
 -0.3,
 0.1,
 -3.0,
 -5.1,
 -4.1,
 -3.3,
 -11.4,
 -5.6,
 0.7,
 0.4,
 1.0,
 1.4,
 5.7,
 4.4,
 0.3,
 1.5,
 -0.4,
 -0.1,
 1.9,
 2.4,
 1.8,
 6.3,
 4.8,
 6.2,
 2.0,
 2.6,
 0.8,
 -0.8,
 -3.4,
 -6.3,
 -2.3,
 -3.7,
 -5.1,
 -7.1,
 -7.2,
 -10.9,
 3.1,
 -1.1,
 -4.4,
 -1.8,
 -0.1,
 1.2,
 0.1,
 2.8,
 0.4,
 -6.1,
 -9.1,
 -5.2,
 -7.2,
 -4.9,
 -2.8,
 -8.6,
 -11.6,
 -13.3,
 1.4,
 1.1,
 4.8,
 0.7,
 -0.3,
 1.9,
 1.4,
 4.9,
 5.2,
 -2.3,
 -2.7,
 -4.9,
 3.2,
 2.6,
 2.0,
 -11.1,
 -15.7,
 -16.1,
 -15.4,
 -15.9,
 -14.1,
 -8.7,
 -10.1,
 -4.4,
 -5.1,
 -10.9,
 -14.6,
 -2.3,
 -6.1,
 -14.6,
 -0.1,
 -4.7,
 -6.7,
 -5.1,
 -1.7,
 -1.9,
 -4.3,
 -2.7,
 -1.6,
 2.6,
 1.9,
 1.6,
 -7.1,
 -7.6,
 -7.3,
 1.2,
 -1.5,
 -2.9,
 2.9,
 3.9,
 6.1,
 0.1,
 4.2,
 3.3,
 -1.4,
 -1.7,
 -0.6,
 -4.1,
 -2.5,
 -3.1,
 -0.6,
 -2.4,
 -4.1,
 6.9,
 2.9,
 0.8,
 3.4,
 0.4,
 2.0,
 -4.2,
 -4.6,
 -3.3,
 0.9,
 0.9,
 1.6,
 3.1,
 1.0,
 -1.4,
 7.6,
 3.5,
 3.9,
 -8.3,
 -6.2,
 -7.1,
 -4.2,
 -5.25,
 -7.6,
 -3.8,
 -8.1,
 -7.85,
 2.35,
 0.8,
 -0.6,
 2.55,
 1.15,
 0.9,
 -0.5,
 -1.85,
 -2.25,
 -2.05,
 3.1,
 2.85,
 1.05,
 -0.6,
 1.1,
 -3.45,
 -1.35,
 -0.6,
 0.1499999999999999,
 0.8,
 0.0,
 6.85,
 4.9,
 -0.8999999999999999,
 -4.1000000000000005,
 -4.4,
 -5.75,
 4.2,
 -1.4999999999999998,
 -3.6999999999999997,
 0.5,
 -0.8,
 -1.0,
 0.19999999999999996,
 0.25,
 -2.2,
 -4.4,
 -5.15,
 -3.4000000000000004,
 -9.9,
 -6.55,
 0.7000000000000002,
 1.75,
 2.7,
 2.6,
 7.25,
 6.35,
 2.0,
 3.0,
 2.1,
 0.8999999999999999,
 0.15000000000000036,
 2.35,
 1.95,
 6.85,
 6.35,
 6.5,
 2.2,
 4.35,
 5.699999999999999,
 1.6,
 -0.19999999999999996,
 -2.2,
 -0.24999999999999994,
 -1.65,
 -3.55,
 -4.35,
 -3.85,
 -8.0,
 3.8,
 2.3,
 -0.8500000000000001,
 2.15,
 2.05,
 3.75,
 5.55,
 4.05,
 2.75,
 -2.15,
 -4.9,
 -2.5999999999999996,
 -2.45,
 -3.6999999999999997,
 0.35,
 -3.8000000000000003,
 -6.8,
 -8.95,
 1.75,
 1.3,
 5.8500000000000005,
 1.5,
 0.85,
 0.9000000000000001,
 -0.34999999999999987,
 5.75,
 9.25,
 0.65,
 1.25,
 -1.25,
 5.35,
 4.6,
 4.85,
 -6.7,
 -8.1,
 -12.45,
 -9.2,
 -13.5,
 -13.350000000000001,
 -7.0,
 -7.3,
 -5.65,
 -1.05,
 -4.45,
 -8.3,
 -1.7999999999999998,
 0.19999999999999996,
 -5.8,
 2.9499999999999997,
 -0.49999999999999994,
 -2.1,
 -0.9,
 -0.25,
 3.3000000000000003,
 -2.1999999999999997,
 -1.4,
 0.8,
 1.5999999999999999,
 1.2999999999999998,
 1.25,
 -5.1,
 -5.4,
 -5.1,
 2.2,
 0.8499999999999999,
 -2.1999999999999997,
 4.1,
 6.3999999999999995,
 7.65,
 5.1,
 4.4,
 7.9,
 -5.3500000000000005,
 -1.4,
 -0.4,
 -2.2,
 1.0,
 -1.9,
 -1.3,
 -2.65,
 -3.2,
 7.0,
 5.55,
 3.7,
 4.7,
 3.15,
 3.8000000000000003,
 -4.15,
 -4.4,
 -3.5,
 -0.95,
 1.2,
 5.35,
 4.55,
 4.1,
 1.1,
 9.0,
 5.9,
 4.45,
 -9.649999999999999,
 -7.9,
 -6.050000000000001,
 -5.6,
 -8.55,
 -10.2,
 -2.9,
 -6.85,
 -8.549999999999999,
 0.5000000000000001,
 -1.65,
 -2.5999999999999996,
 1.05,
 -0.050000000000000044,
 -1.9000000000000001,
 -2.9,
 -3.6,
 -4.2,
 -0.9,
 5.4,
 6.2,
 0.45000000000000007,
 -2.3,
 -0.85,
 -3.95,
 -2.45,
 -2.4,
 -1.25,
 1.0499999999999998,
 -1.1000000000000005,
 6.1,
 3.0,
 0.3999999999999999,
 -4.15,
 -4.1000000000000005,
 -5.4,
 3.1999999999999997,
 -1.3,
 -3.4,
 -0.7,
 -3.6,
 -2.9,
 1.0,
 0.2,
 -3.0,
 -6.4,
 -5.9,
 -3.45,
 -11.4,
 -7.3,
 1.2,
 0.8,
 -0.6,
 1.2,
 7.2,
 3.2,
 -3.6,
 0.4,
 -0.9,
 -2.7,
 5.6,
 3.9,
 3.0,
 9.9,
 7.4,
 5.3,
 1.7,
 2.9,
 2.2,
 0.2,
 -5.9,
 -3.4,
 -2.4,
 -4.6,
 -6.1,
 -7.2,
 -6.1,
 -9.2,
 2.6,
 -2.9,
 -5.4,
 -1.5,
 -1.3,
 2.3,
 4.2,
 1.8,
 -0.2,
 -6.7,
 -9.7,
 -7.1,
 -5.7,
 -4.2,
 -3.0,
 -7.8,
 -12.1,
 -13.6,
 0.7,
 2.6,
 7.2,
 -0.9,
 -2.1,
 1.4,
 0.8,
 7.3,
 7.2,
 -0.3,
 -0.4,
 -2.4,
 4.1,
 2.3,
 2.7,
 -8.7,
 -13.6,
 -19.1,
 -17.5,
 -17.4,
 -14.6,
 -10.0,
 -11.0,
 -6.7,
 -2.3,
 -8.3,
 -15.9,
 -2.6,
 -2.5,
 -10.6,
 -0.2,
 -3.4,
 -5.6,
 -3.7,
 -0.8,
 0.6,
 -3.8,
 -2.8,
 1.0,
 1.8,
 0.8,
 1.0,
 -7.3,
 -7.6,
 -6.6,
 0.4,
 -1.7,
 -4.3,
 7.9,
 6.6,
 13.9,
 2.0,
 8.9,
 9.0,
 -7.1,
 -3.5,
 -1.6,
 -3.6,
 -1.6,
 -3.0,
 -0.9,
 -1.2,
 0.7,
 8.7,
 4.5,
 4.9,
 5.3,
 0.3,
 1.1,
 -6.4,
 -6.4,
 -4.0,
 -1.2,
 1.8,
 2.4,
 5.9,
 2.8,
 -1.0,
 7.4,
 3.7,
 3.1]

In [33]:
len(PRCP)

564

In [34]:
WCH = []
WCH = [(1 if PRCP[i] > 0 and TAVG[i] < 1 else 0, 
        1 if (PRCP[i+1] > 0 and TAVG[i+1] < 1) or (PRCP[i+1] == 0 and TAVG[i+1] < 0.5 and (PRCP[i] > 0 and TAVG[i] < 1)) else 0, 
        1 if (PRCP[i+2] > 0 and TAVG[i+2] < 1) or (PRCP[i+2] == 0 and TAVG[i+2] < 0.5 and ((PRCP[i+1] > 0 and TAVG[i+1] < 1) or (PRCP[i+1] == 0 and TAVG[i+1] < 0.5 and (PRCP[i] > 0 and TAVG[i] < 1)))) else 0) 
       for i in range(0,len(PRCP),3)]

In [35]:
WCH

[(0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 1, 1),
 (1, 0, 1),
 (0, 0, 0),
 (1, 1, 1),
 (0, 0, 0),
 (0, 0, 0),
 (1, 0, 0),
 (0, 1, 1),
 (1, 1, 1),
 (0, 1, 1),
 (1, 1, 1),
 (0, 0, 0),
 (0, 0, 0),
 (1, 1, 1),
 (1, 1, 0),
 (1, 1, 1),
 (1, 1, 1),
 (1, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 1),
 (1, 1, 1),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (1, 1, 1),
 (0, 0, 1),
 (0, 1, 1),
 (0, 0, 1),
 (1, 1, 0),
 (0, 0, 1),
 (0, 0, 0),
 (0, 1, 1),
 (0, 0, 0),
 (0, 0, 0),
 (1, 1, 0),
 (0, 0, 0),
 (1, 1, 1),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (1, 1, 1),
 (1, 1, 1),
 (1, 1, 1),
 (0, 1, 1),
 (1, 1, 1),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 1),
 (0, 1, 1),
 (0, 0, 0),
 (0, 0, 1),
 (0, 0, 0),
 (0, 0, 1),
 (1, 1, 0),
 (0, 0, 1),
 (0, 0, 0),
 (1, 1, 1),
 (0, 1, 1),
 (1, 1, 1),
 (0, 0, 0),
 (0, 0, 1),
 (1, 1, 1),
 (1, 0, 0),
 (0, 0, 0),
 (1, 1, 1),
 (1, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (1, 1, 1),
 (0, 0, 1),
 (0, 0, 1),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 1),
 (0, 0, 0),
 (0, 1, 1),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 1),
 (1, 0, 0),
 (1, 0, 1),
 (0, 0, 0),
 (0, 1, 1),
 (0, 0, 0),
 (0, 0, 0),
 (1, 1, 1),
 (1, 1, 1),
 (0, 1, 1),
 (0, 1, 0),
 (1, 1, 1),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 1),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 1),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 1),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (1, 1, 1),
 (0, 1, 1),
 (1, 1, 1),
 (1, 1, 1),
 (0, 1, 1),
 (1, 1, 1),
 (1, 0, 0),
 (1, 1, 1),
 (1, 1, 1),
 (1, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 1),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (1, 1, 1),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (1, 1, 1),
 (0, 0, 0),
 (0, 1, 1),
 (0, 1, 1),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 1, 1),
 (0, 0, 0),
 (0, 0, 0),
 (1, 1, 0),
 (0, 0, 0),
 (1, 1, 1),
 (0, 0, 0),
 (1, 1, 1),
 (0, 0, 0),
 (0, 0, 0),
 (1, 1, 1),
 (1, 1, 1),
 (1, 1, 1),
 (0, 1, 0),
 (1, 1, 0),
 (0, 0, 0),
 (0, 0, 0),
 (1, 1, 1),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 1),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (1, 1, 1),
 (1, 0, 0),
 (0, 0, 1),
 (0, 0, 0)]

In [36]:
WCH = [item for t in WCH for item in t]

In [37]:
WCH

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0]

In [38]:
len(WCH)

564

In [39]:
df['WCH'] = pd.Series(WCH)

In [40]:
df.head(-1)

               NAME       DATE  PRCP  TAVG  WCH
0    CLUJ NAPOCA RO 1950-12-23   0.0  0.80    0
1    CLUJ NAPOCA RO 1950-12-24   0.0  3.90    0
2    CLUJ NAPOCA RO 1950-12-25   0.0  4.60    0
3    CLUJ NAPOCA RO 1951-12-23   0.0 -9.95    0
4    CLUJ NAPOCA RO 1951-12-24   0.0 -8.25    0
..              ...        ...   ...   ...  ...
558        SIBIU RO 2018-12-23   0.1  5.90    0
559        SIBIU RO 2018-12-24   9.8  2.80    0
560        SIBIU RO 2018-12-25   0.3 -1.00    1
561        SIBIU RO 2019-12-23   3.8  7.40    0
562        SIBIU RO 2019-12-24   7.0  3.70    0

[563 rows x 5 columns]

In [41]:
df.shape

(564, 5)

In [42]:
df = df[(df['DATE'].dt.day == 25)]

In [43]:
df.reset_index(drop=True, inplace=True)

In [44]:
df.shape

(188, 5)

In [45]:
 df = df.drop(columns =['PRCP', 'TAVG'])

In [46]:
df['DATE'] = df['DATE'].dt.year

In [47]:
df.head(-1)

               NAME  DATE  WCH
0    CLUJ NAPOCA RO  1950    0
1    CLUJ NAPOCA RO  1951    0
2    CLUJ NAPOCA RO  1952    0
3    CLUJ NAPOCA RO  1953    1
4    CLUJ NAPOCA RO  1954    1
..              ...   ...  ...
182        SIBIU RO  2014    0
183        SIBIU RO  2015    0
184        SIBIU RO  2016    1
185        SIBIU RO  2017    0
186        SIBIU RO  2018    1

[187 rows x 3 columns]

In [48]:
df = pd.DataFrame(df.pivot_table(index = 'DATE', columns = 'NAME', values = 'WCH', aggfunc = np.sum).reset_index())

In [49]:
df.head(-1)

NAME  DATE  CLUJ NAPOCA RO  DEVA RO  SIBIU RO
0     1950             0.0      NaN       NaN
1     1951             0.0      NaN       NaN
2     1952             0.0      NaN       NaN
3     1953             1.0      NaN       NaN
4     1954             1.0      NaN       NaN
..     ...             ...      ...       ...
64    2014             1.0      0.0       0.0
65    2015             0.0      0.0       0.0
66    2016             1.0      1.0       1.0
67    2017             0.0      0.0       0.0
68    2018             1.0      0.0       1.0

[69 rows x 4 columns]

In [50]:
print(df.index.name)

None