In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('Web Scraping Rent Prices/rent_price_results.csv', decimal=',')
df.head()

,currency,floor,neighborhood,new_building,partitioning,price,rooms,space
0,EUR / lună,Etaj 5/7,"Cluj-Napoca, zona Central",NaN,Semidecomandat,400,2 camere,58.5 mp utili
1,EUR / lună,Etaj 8/10,"Cluj-Napoca, zona Mănăştur",NaN,Semidecomandat,280,2 camere,52 mp utili
2,EUR / lună,Etaj 3/3,"Cluj-Napoca, zona Zorilor",Bloc nou,Semidecomandat,400,3 camere,84 mp utili
3,EUR / lună,Parter/4,"Cluj-Napoca, zona Gheorgheni",NaN,Semidecomandat,400,3 camere,65 mp utili
4,EUR / lună,Etaj 1/2,"Cluj-Napoca, zona Zorilor",Bloc nou,Decomandat,420,2 camere,55 mp utili

In [3]:
df.shape

(5005, 8)

In [4]:
df.groupby('currency')['currency'].count()

currency
EUR + TVA / lună      48
EUR / lună          4947
RON / lună             8
Name: currency, dtype: int64

In [5]:
df['currency'] = df['currency'].str[:3]

In [6]:
df.groupby('currency')['currency'].count()

currency
EUR    4995
RON       8
Name: currency, dtype: int64

In [7]:
df.groupby('partitioning')['partitioning'].count()

partitioning
Bloc nou            15
Circular             9
Decomandat        2348
Imobil nou           1
Nedecomandat        50
Semidecomandat    2508
Vagon                8
Name: partitioning, dtype: int64

In [8]:
def switch_rows_partitioning(df, variable, element):
    for content in df[variable]:
        if element == content:
            df[[variable,'new_building']] = df[['new_building',variable]].where(df[variable] == element, df[[variable,'new_building']].values)

In [9]:
switch_rows_partitioning(df,'partitioning','Bloc nou')
switch_rows_partitioning(df,'partitioning','Imobil nou')

In [10]:
df.groupby('partitioning')['partitioning'].count()

partitioning
Circular             9
Decomandat        2348
Nedecomandat        50
Semidecomandat    2508
Vagon                8
Name: partitioning, dtype: int64

In [11]:
df.groupby('floor')['floor'].count().head(-55)

floor
Decomandat      2
Demisol         5
Demisol/1      10
Demisol/2       8
Demisol/3       3
Demisol/4       5
Demisol/5       2
Etaj 1         66
Etaj 1/1      122
Etaj 1/10      62
Etaj 1/11      10
Etaj 1/2      127
Etaj 1/20       1
Etaj 1/3      151
Etaj 1/4      342
Etaj 1/5       55
Etaj 1/6       63
Etaj 1/7       23
Etaj 1/8       70
Etaj 1/9       10
Etaj 10         4
Etaj 10/10     49
Etaj 10/11     21
Etaj 10/12      1
Etaj 11/11      3
Etaj 11/12      3
Etaj 12/12      1
Etaj 2         60
Etaj 2/10      55
Etaj 2/11      11
Etaj 2/2      133
Etaj 2/3      136
Etaj 2/4      327
Etaj 2/5       37
Etaj 2/6       44
Etaj 2/7       23
Etaj 2/8       54
Etaj 2/9        9
Etaj 3         44
Etaj 3/10      54
Etaj 3/11      19
Etaj 3/12       1
Etaj 3/3       76
Etaj 3/4      335
Etaj 3/5       73
Etaj 3/6       61
Etaj 3/7       24
Etaj 3/8       55
Etaj 3/9        7
Etaj 4         24
Etaj 4/10      50
Etaj 4/11       3
Etaj 4/12       1
Etaj 4/4      237
Name: floor, dtype: int64

In [12]:
df.isnull().sum()

currency           2
floor              1
neighborhood       0
new_building    3444
partitioning      82
price              2
rooms              0
space              0
dtype: int64

In [13]:
df.dropna(subset=['floor', 'price'], inplace=True)

In [14]:
df.isnull().sum()

currency           0
floor              0
neighborhood       0
new_building    3441
partitioning      81
price              0
rooms              0
space              0
dtype: int64

In [15]:
df.loc[df.floor.str.contains('Demisol'), 'floor'] = '0'

In [16]:
def switch_rows_floor(df, variable, element):
    for content in df[variable]:
        if element in content:
            df[[variable,'space']] = df[['space',variable]].where(df[variable] == element, df[[variable,'space']].values)
            df[['space','partitioning']] = df[['partitioning','space']].where(df['space'] == element, df[['space','partitioning']].values)
            df[['space','new_building']] = df[['new_building','space']].where(df['space'] == 'Bloc Nou', df[['space','new_building']].values)

In [17]:
switch_rows_floor(df,'floor','Decomandat')

In [18]:
df.groupby('floor')['floor'].count()

floor
0                      33
Etaj 1                 66
Etaj 1/1              122
Etaj 1/10              62
Etaj 1/11              10
                     ...
Parter/7               16
Parter/8               44
Parter/9                4
Semidecomandat          4
Ultimele 2 etaje/4      2
Name: floor, Length: 103, dtype: int64

In [19]:
switch_rows_floor(df,'floor','Semidecomandat')

In [20]:
df.loc[df.floor.str.contains('Ultimele 2 etaje/4'), 'floor'] = '2'

In [21]:
df.loc[df.floor.str.contains('Etaj'), 'floor'] = df.floor.str[5:]

In [22]:
df.loc[df.floor.str.contains('Parter'), 'floor'] = '1'

In [23]:
df.groupby('floor')['floor'].count()

floor
0              33
1             928
1/1           122
1/10           62
1/11           10
             ...
Mansarda/2     18
Mansarda/3     11
Mansarda/4     10
Mansarda/5      4
Mansarda/7      1
Name: floor, Length: 90, dtype: int64

In [24]:
df.loc[df.floor.str.contains('Mansarda'), 'floor'] = '100'

In [25]:
df.loc[df.floor.str.contains('/'), 'floor'] = df.floor.str.split('/').str[0]

In [26]:
df.groupby('floor')['floor'].count()

floor
0        33
1      1967
10       75
100      54
11        6
12        1
2       891
3       751
4       470
5       228
6       150
7       158
8       118
9       100
Name: floor, dtype: int64

In [27]:
df.groupby('neighborhood')['neighborhood'].count()

neighborhood
Cluj-Napoca, zona Aeroport                 4
Cluj-Napoca, zona Andrei Muresanu          4
Cluj-Napoca, zona Andrei Mureşanu        121
Cluj-Napoca, zona Aurel Vlaicu             7
Cluj-Napoca, zona Baciu                    2
Cluj-Napoca, zona Borhanci                47
Cluj-Napoca, zona Bulgaria                10
Cluj-Napoca, zona Buna Ziua               11
Cluj-Napoca, zona Bună Ziua              244
Cluj-Napoca, zona Calea Turzii            36
Cluj-Napoca, zona Central                765
Cluj-Napoca, zona Cordos                   1
Cluj-Napoca, zona Câmpului                 6
Cluj-Napoca, zona Dâmbul Rotund           17
Cluj-Napoca, zona Europa                 109
Cluj-Napoca, zona Exterior Vest            1
Cluj-Napoca, zona Gară                    26
Cluj-Napoca, zona Gheorgheni             855
Cluj-Napoca, zona Grigorescu             185
Cluj-Napoca, zona Gruia                   27
Cluj-Napoca, zona Haşdeu                  14
Cluj-Napoca, zona Horea                   19
Cluj-Napoca, zona Intre Lacuri             6
Cluj-Napoca, zona Iris                    56
Cluj-Napoca, zona Manastur                24
Cluj-Napoca, zona Marasti                 48
Cluj-Napoca, zona Mănăştur               522
Cluj-Napoca, zona Mărăşti                672
Cluj-Napoca, zona P-ta Mihai Viteazul      1
Cluj-Napoca, zona P-ţa Mihai Viteazul     52
Cluj-Napoca, zona Plopilor               107
Cluj-Napoca, zona Semicentral            159
Cluj-Napoca, zona Someşeni                15
Cluj-Napoca, zona Sopor                   26
Cluj-Napoca, zona Ultracentral            95
Cluj-Napoca, zona Zorilor                559
Cluj-Napoca, zona Între Lacuri           149
Name: neighborhood, dtype: int64

In [28]:
df['neighborhood'] = df['neighborhood'].str[18:]

In [29]:
df.neighborhood.replace(to_replace=['Andrei Mureşanu', 'Bună Ziua', 'Câmpului', 'Dâmbul Rotund', 'Gară', 'Haşdeu', 'Între Lacuri', 'Mărăşti', 'Mănăştur', 'P-ţa Mihai Viteazul', 'Someşeni'],
           value= ['Andrei Muresanu', 'Buna Ziua', 'Campului', 'Dambul Rotund','Gara', 'Hasdeu', 'Intre Lacuri', 'Marasti', 'Manastur', 'P-ta Mihai Viteazul', 'Someseni'], 
           inplace=True)

In [30]:
df.groupby('neighborhood')['neighborhood'].count()

neighborhood
Aeroport                 4
Andrei Muresanu        125
Aurel Vlaicu             7
Baciu                    2
Borhanci                47
Bulgaria                10
Buna Ziua              255
Calea Turzii            36
Campului                 6
Central                765
Cordos                   1
Dambul Rotund           17
Europa                 109
Exterior Vest            1
Gara                    26
Gheorgheni             855
Grigorescu             185
Gruia                   27
Hasdeu                  14
Horea                   19
Intre Lacuri           155
Iris                    56
Manastur               546
Marasti                720
P-ta Mihai Viteazul     53
Plopilor               107
Semicentral            159
Someseni                15
Sopor                   26
Ultracentral            95
Zorilor                559
Name: neighborhood, dtype: int64

In [31]:
df.groupby('new_building')['new_building'].count()

new_building
Bloc nou      1471
Imobil nou      90
Name: new_building, dtype: int64

In [32]:
df.new_building.isnull().sum()

3441

In [33]:
df.new_building = df.new_building.fillna('Imobil vechi')

In [34]:
df.loc[df.new_building.str.contains('Bloc nou'), 'new_building'] = 'Imobil nou'

In [35]:
df.groupby('new_building')['new_building'].count()

new_building
Imobil nou      1561
Imobil vechi    3441
Name: new_building, dtype: int64

In [36]:
df.rooms.value_counts()

2 camere       2771
3 camere       1222
o cameră        802
4 camere        185
5 camere         16
6 camere          2
7 camere          1
11 camere         1
50 camere         1
75 mp utili       1
Name: rooms, dtype: int64

In [37]:
df.rooms[df.rooms == '75 mp utili'].index.tolist()

[4903]

In [38]:
print(df.loc[[4903]])

     currency floor neighborhood new_building partitioning price        rooms  \
4903      EUR     3     Bulgaria   Imobil nou   Decomandat   499  75 mp utili

     space
4903   NaN

In [39]:
df[['rooms','space']] = df[['space','rooms']].where(df['rooms'] == '75 mp utili', df[['rooms','space']].values)

In [40]:
df.rooms.value_counts()

2 camere     2771
3 camere     1222
o cameră      802
4 camere      185
5 camere       16
6 camere        2
7 camere        1
11 camere       1
50 camere       1
Name: rooms, dtype: int64

In [41]:
df.rooms = df.rooms.str[:-7]

In [42]:
df.rooms.value_counts()

2     2771
3     1222
o      802
4      185
5       16
6        2
50       1
7        1
11       1
Name: rooms, dtype: int64

In [43]:
df.rooms.isnull().sum()

1

In [44]:
df.rooms = df.rooms.fillna(df.rooms.mode()[0])

In [45]:
df.rooms.isnull().sum()

0

In [46]:
df.rooms.value_counts()

2     2772
3     1222
o      802
4      185
5       16
6        2
50       1
7        1
11       1
Name: rooms, dtype: int64

In [47]:
df.loc[df.rooms.str.contains('o'), 'rooms'] = '1'

In [48]:
df.rooms.value_counts()

2     2772
3     1222
1      802
4      185
5       16
6        2
50       1
7        1
11       1
Name: rooms, dtype: int64

In [49]:
df.groupby('space')['space'].count().head(40)

space
1 mp utili         1
100 mp utili      66
101 mp utili       1
103 mp utili       3
104 mp utili       3
105 mp utili       9
106 mp utili       1
109 mp utili       2
11 mp utili        3
110 mp utili      20
117 mp utili       2
118 mp utili       3
119 mp utili       1
120 mp utili      19
125 mp utili       3
127 mp utili       1
130 mp utili       7
131 mp utili       2
134 mp utili       1
135 mp utili       2
136 mp utili       4
138 mp utili       1
14 mp utili        1
140 mp utili       6
145 mp utili       1
146 mp utili       1
150 mp utili       9
160 mp utili       2
162 mp utili       1
170 mp utili       2
175 mp utili       3
180 mp utili       4
189 mp utili       1
19 mp utili        1
20 mp utili        8
20.37 mp utili     1
200 mp utili       6
21 mp utili        8
210 mp utili       1
22 mp utili       25
Name: space, dtype: int64

In [50]:
df.space.isnull().sum()

5

In [51]:
df.space = df.space.str[:-9]

In [52]:
df.groupby('space')['space'].count().head(40)

space
1         1
100      66
101       1
103       3
104       3
105       9
106       1
109       2
11        3
110      20
117       2
118       3
119       1
120      19
125       3
127       1
130       7
131       2
134       1
135       2
136       4
138       1
14        1
140       6
145       1
146       1
150       9
160       2
162       1
170       2
175       3
180       4
189       1
19        1
20        8
20.37     1
200       6
21        8
210       1
22       25
Name: space, dtype: int64

In [53]:
df.groupby('price')['price'].count().head(40)

price
1.000    23
1.050     3
1.100     7
1.150     7
1.200    17
1.250     3
1.300     4
1.350     2
1.400     1
1.450     1
1.490     1
1.500     5
1.700     1
1.800     1
1.850     1
1.990     1
140       2
145       1
150       1
160       1
169       1
170       3
179       1
180      11
185       1
189       1
190       5
195       1
199       5
2.000     6
2.100     1
2.300     1
2.400     1
2.550     1
200      31
205       3
209       1
210       8
215       1
219       1
Name: price, dtype: int64

In [54]:
df.isnull().sum()

currency         0
floor            0
neighborhood     0
new_building     0
partitioning    75
price            0
rooms            0
space            5
dtype: int64