In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('Web Scraping Rent Prices/rent_price_results.csv')
df.head()

,currency,floor,neighborhood,new_building,partitioning,price,rooms,space
0,EUR / lună,Etaj 5/7,"Cluj-Napoca, zona Central",NaN,Semidecomandat,435.0,2 camere,58.5 mp utili
1,EUR / lună,Etaj 8/10,"Cluj-Napoca, zona Mănăştur",NaN,Semidecomandat,280.0,2 camere,52 mp utili
2,EUR / lună,Parter/4,"Cluj-Napoca, zona Gheorgheni",NaN,Semidecomandat,400.0,3 camere,65 mp utili
3,EUR / lună,Parter/4,"Cluj-Napoca, zona Bună Ziua",NaN,Semidecomandat,700.0,3 camere,100 mp utili
4,EUR / lună,Parter/4,"Cluj-Napoca, zona Gheorgheni",NaN,Decomandat,350.0,o cameră,32 mp utili

In [3]:
df.shape

(4997, 8)

In [4]:
df.groupby('currency')['currency'].count()

currency
EUR + TVA / lună      48
EUR / luna             2
EUR / lună          4938
RON / lună             6
Name: currency, dtype: int64

In [5]:
df['currency'] = df['currency'].str[:3]

In [6]:
df.groupby('currency')['currency'].count()

currency
EUR    4988
RON       6
Name: currency, dtype: int64

In [7]:
df.groupby('floor')['floor'].count()

floor
Decomandat             2
Demisol                5
Demisol/1             12
Demisol/2              8
Demisol/3              4
                      ..
Parter/7              15
Parter/8              37
Parter/9               4
Semidecomandat         5
Ultimele 2 etaje/4     2
Name: floor, Length: 110, dtype: int64

In [8]:
df.groupby('neighborhood')['neighborhood'].count()

neighborhood
Cluj-Napoca, zona Aeroport                 4
Cluj-Napoca, zona Andrei Muresanu          2
Cluj-Napoca, zona Andrei Mureşanu        117
Cluj-Napoca, zona Aurel Vlaicu             7
Cluj-Napoca, zona Baciu                    3
Cluj-Napoca, zona Borhanci                44
Cluj-Napoca, zona Bulgaria                10
Cluj-Napoca, zona Buna Ziua               17
Cluj-Napoca, zona Bună Ziua              233
Cluj-Napoca, zona Calea Turzii            33
Cluj-Napoca, zona Central                769
Cluj-Napoca, zona Cordos                   1
Cluj-Napoca, zona Câmpului                 6
Cluj-Napoca, zona Dambul Rotund            1
Cluj-Napoca, zona Dâmbul Rotund           20
Cluj-Napoca, zona Europa                 105
Cluj-Napoca, zona Exterior Vest            1
Cluj-Napoca, zona Gara                     3
Cluj-Napoca, zona Gară                    24
Cluj-Napoca, zona Gheorgheni             856
Cluj-Napoca, zona Grigorescu             184
Cluj-Napoca, zona Gruia                   25
Cluj-Napoca, zona Haşdeu                  14
Cluj-Napoca, zona Horea                   17
Cluj-Napoca, zona Intre Lacuri             7
Cluj-Napoca, zona Iris                    56
Cluj-Napoca, zona Manastur                11
Cluj-Napoca, zona Marasti                 28
Cluj-Napoca, zona Mănăştur               542
Cluj-Napoca, zona Mărăşti                680
Cluj-Napoca, zona P-ta Mihai Viteazul      3
Cluj-Napoca, zona P-ţa Mihai Viteazul     53
Cluj-Napoca, zona Plopilor               107
Cluj-Napoca, zona Semicentral            161
Cluj-Napoca, zona Someşeni                15
Cluj-Napoca, zona Sopor                   24
Cluj-Napoca, zona Ultracentral            89
Cluj-Napoca, zona Zorilor                581
Cluj-Napoca, zona Între Lacuri           144
Name: neighborhood, dtype: int64

In [9]:
df['neighborhood'] = df['neighborhood'].str[18:]
df.head()

,currency,floor,neighborhood,new_building,partitioning,price,rooms,space
0,EUR,Etaj 5/7,Central,NaN,Semidecomandat,435.0,2 camere,58.5 mp utili
1,EUR,Etaj 8/10,Mănăştur,NaN,Semidecomandat,280.0,2 camere,52 mp utili
2,EUR,Parter/4,Gheorgheni,NaN,Semidecomandat,400.0,3 camere,65 mp utili
3,EUR,Parter/4,Bună Ziua,NaN,Semidecomandat,700.0,3 camere,100 mp utili
4,EUR,Parter/4,Gheorgheni,NaN,Decomandat,350.0,o cameră,32 mp utili

In [10]:
df.groupby('neighborhood')['neighborhood'].count()

neighborhood
Aeroport                 4
Andrei Muresanu          2
Andrei Mureşanu        117
Aurel Vlaicu             7
Baciu                    3
Borhanci                44
Bulgaria                10
Buna Ziua               17
Bună Ziua              233
Calea Turzii            33
Central                769
Cordos                   1
Câmpului                 6
Dambul Rotund            1
Dâmbul Rotund           20
Europa                 105
Exterior Vest            1
Gara                     3
Gară                    24
Gheorgheni             856
Grigorescu             184
Gruia                   25
Haşdeu                  14
Horea                   17
Intre Lacuri             7
Iris                    56
Manastur                11
Marasti                 28
Mănăştur               542
Mărăşti                680
P-ta Mihai Viteazul      3
P-ţa Mihai Viteazul     53
Plopilor               107
Semicentral            161
Someşeni                15
Sopor                   24
Ultracentral            89
Zorilor                581
Între Lacuri           144
Name: neighborhood, dtype: int64